body {
    background-image: url(background.jpg);
    
}

.content {
  background-color: #FFFFFF;
  font-family: 'Shantell Sans', cursive;
}

img {
    border: solid 5px black;
}
#li-link {
  color: #0077B5;
  background-color: transparent;
  text-decoration: none;
}
